<% title "MetroStyle网站设计" %>
<% meta_keywords "Metro Style 网站设计"%>
<% meta_description "Metro Style 网站设计" %>

<ul>
<% @icon_dictionary.each_pair do |k, v| %>
  <li>
    <h1><%=k %></h1>
    <ul>
      <% v.each do |path| %>
      <li><%= path %></li>
        <li><%= image_tag(path.sub(/^.*\/public\//, '/'), :width => 40) %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
<hr/>

<div class="gridster">
  <ul>
    <% @pages.each do |page| %>
      <li data-row="<%=page.data_row %>" data-col="<%=page.data_col %>" data-sizex="<%=page.data_sizex %>" data-sizey="<%=page.data_sizey %>">
        <%= render :partial => 'pages/page', :locals => {:page => page} %>
      </li>
    <% end %>
    
    <% if @pages.size > 16 %>
      <li data-row="1" data-col="6" data-sizex="1" data-sizey="2">
        <div class="live-tile blue">
          <span class="tile-title">翻页</span>
          <div  class="link"><%= will_paginate @pages%></div>
        </div>
      </li>
    <% end %>

  </ul>
</div>
