<% title @page.title %>
<% meta_keywords @page.meta_keywords %>
<% meta_description @page.meta_description %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="<%=@page.data_sizex %>" data-sizey="<%=@page.data_sizey %>">
      <%= render :partial => 'pages/page', :locals => {:page => @page} %>
    </li>

    <li data-row="1" data-col="2" data-sizex="<%= 6 - @page.data_sizex %>" data-sizey="<%= 4 - @page.data_sizey %>">
      <div class="live-tile white">
        <article class="article">
          <%= @page.body.html_safe %>
          <br/>
          <%= render :partial => 'layouts/bshare' %>
        </article>
      </div>
    </li>

  </ul>
</div>




